body {
	background-color: #CCFFCC;
	color: #663366;
}

#display {
	background-color: white;
	border: 1px solid black;
}

#msg {
	color: #FF0000;
}

#theword {
	font-family: "Courier New", Courier, monospace; 
	font-size: 16px;
}

#letters {
	font-family: Georgia, serif;
	color: #009966;
}

#letters a:link {
	color: #006666;
}